<h1>Welcome to the Friend App!</h1>
<p>You can add your friends in this web page. This page provides keep your friends name, email, phone and Twitter usernames. Feel free to add all of your friends! </p>